<div class="flex flex-col min-h-screen bg-component-bg bg-cover bg-center text-white">

    <app-header></app-header>

    <!-- Main Content -->
    <main
        class="flex flex-col bg-gradient-to-b from-black/30 to-black flex-grow mt-8 mb-8 px-6 py-12 max-w-5xl mx-auto space-y-12">
        <!-- Section 1 -->
        <section class="space-y-6">
            <h2 class="text-3xl md:text-4xl font-extrabold text-center text-orange-500 mb-6">
                Está preparado para o seu Onboarding na Suntrans? 🚀
            </h2>
            <p class="text-gray-100 leading-relaxed text-center">
                O <span class="text-orange-500">Onboarding na Suntrans</span> é um processo cuidadosamente planejado
                com o propósito de garantir que novos colaboradores se integrem à cultura da empresa de maneira
                eficiente e
                se sintam preparados para desempenhar suas funções desde o primeiro dia.
            </p>
        </section>

        <!-- Section 2 -->
        <section>
            <h3 class="text-2xl md:text-3xl font-semibold mb-4 text-center">Propósitos principais do <span
                    class="text-orange-500">Onboarding</span> na
                Suntrans:</h3>
            <ul class="list-disc text-gray-100 space-y-6 px-6">
                <li>
                    <span class="text-orange-500 font-bold">Integração Cultural:</span> A Suntrans valoriza uma cultura
                    colaborativa e orientada para o cliente, familiarizando novos colaboradores com os valores, missão e
                    visão da empresa.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Aceleração do Aprendizado:</span> Treinamentos, sessões de
                    orientação e familiarização com ferramentas reduzem a curva de aprendizado dos colaboradores.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Fortalecimento de Relacionamentos:</span> Interação com
                    equipes e departamentos promove networking e fortalece o espírito de equipe.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Clareza de Expectativas e Metas:</span> Os colaboradores
                    compreendem suas responsabilidades e como seu papel contribui para o sucesso coletivo.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Capacitação Técnica:</span> Treinamentos específicos para
                    garantir que os colaboradores estejam preparados para suas funções.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Engajamento e Retenção:</span> Um bom processo de onboarding
                    cria engajamento e aumenta a retenção de talentos.
                </li>
            </ul>
        </section>

        <!-- Section 3 -->
        <section>
            <h3 class="text-2xl md:text-3xl font-semibold mb-4 text-center text-orange-500">Bem-vindo <span class="text-orange-500">ao time!</span>
            </h3>
            <p class="text-gray-100 leading-relaxed text-center">
                Estamos entusiasmados por você fazer parte da <span class="text-orange-500">Suntrans</span>, um dos
                agentes de carga mais inovadores do mercado. Ao longo dos próximos dias, você conhecerá mais sobre nossa
                atuação, soluções logísticas e a importância de cada membro da equipe no fluxo de operações que tornam a
                Suntrans uma <span class="text-orange-500">referência</span> no setor.
            </p>
        </section>

        <!-- Section 4 -->
        <section>
            <h3 class="text-2xl md:text-3xl font-semibold mb-4 text-center text-orange-500">Elementos do Onboarding na Suntrans:</h3>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 text-gray-100">
                <li>
                    <span class="text-orange-500 font-bold">Integração com a Cultura:</span> Introdução à cultura,
                    valores, missão e visão da Suntrans.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Apresentação das Equipes e Ferramentas:</span>
                    Familiarização com equipes e ferramentas tecnológicas utilizadas pela empresa.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Treinamento e Capacitação Inicial:</span> Treinamentos
                    específicos relacionados às funções de cada colaborador.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Mentoria e Acompanhamento:</span> Suporte contínuo por meio
                    de mentores ou responsáveis diretos.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Integração Social:</span> Promoção de networking interno e
                    fortalecimento de relacionamentos saudáveis.
                </li>
                <li>
                    <span class="text-orange-500 font-bold">Feedback e Avaliação:</span> Avaliações e oportunidade de
                    fornecer feedback sobre o processo de onboarding.
                </li>
            </ul>
        </section>
    </main>

    <app-footer></app-footer>

</div>