<div class="flex flex-col min-h-screen bg-component-bg bg-cover bg-center text-white">
    <app-header class="fixed top-0 left-0 w-full bg-white/70 backdrop-blur-md shadow-lg z-50"></app-header>
    <div class="pt-40 bg-gradient-to-b from-black/20 to-black-90"></div>

    <!-- Main Content -->
    <main
        class="flex flex-col bg-gradient-to-b from-black/40 to-black-90 flex-grow pt-20 py-16 px-8 max-w-7xl mx-auto space-y-16 overflow-hidden z-10">
        <!-- Header Section -->
        <section class="text-center space-y-6">
            <h1 class="text-4xl font-extrabold text-orange-500">
                Bem-vindo ao seu Onboarding na Suntrans! 🚀
            </h1>
            <p class="text-gray-200 text-lg leading-relaxed max-w-3xl mx-auto">
                Explore os principais elementos do nosso processo de integração e descubra como transformamos a
                sua chegada em uma experiência acolhedora e motivadora.
            </p>
        </section>

        <!-- Cards Section -->
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div
                class="bg-white/10 rounded-xl shadow-md hover:shadow-lg transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Integração Cultural</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Conheça os valores, missão e visão da Suntrans e sinta-se parte da nossa cultura colaborativa desde
                    o início.
                </p>
            </div>

            <!-- Card 2 -->
            <div
                class="bg-white/5 bg-opacity-75 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m4-4H8" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Aceleração do Aprendizado</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Com treinamentos personalizados, você estará pronto para contribuir com a equipe em tempo recorde.
                </p>
            </div>

            <!-- Card 3 -->
            <div
                class="bg-white/5 bg-opacity-75 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Fortalecimento de Relacionamentos</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Participe de interações com a equipe para construir um forte networking interno.
                </p>
            </div>

            <!-- Card 4 -->
            <div
                class="bg-white/5 bg-opacity-75 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Clareza de Expectativas</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Defina suas metas e compreenda como sua atuação impulsiona o sucesso coletivo.
                </p>
            </div>

            <!-- Card 5 -->
            <div
                class="bg-white/5 bg-opacity-75 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 14l9-5-9-5-9 5 9 5z" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Capacitação Técnica</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Aprenda as ferramentas e técnicas necessárias para desempenhar sua função com excelência.
                </p>
            </div>

            <!-- Card 6 -->
            <div
                class="bg-white/5 bg-opacity-75 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 p-6 text-center">
                <div class="text-orange-500 mb-4">
                    <svg class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 9l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </div>
                <h3 class="text-xl font-bold text-white">Engajamento e Retenção</h3>
                <p class="text-gray-300 text-sm mt-4">
                    Um onboarding eficiente gera engajamento e promove a retenção de talentos.
                </p>
            </div>
        </section>

        <!-- Conteúdo em Vídeo -->
        <section class="py-12 px-6">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold uppercase text-orange-500">Apresentação da Empresa</h2>
            </div>
            <div class="flex justify-center">
                <!-- Player de Vídeo 1 -->
                <div
                    class="p-6 border border-transparent rounded-lg bg-white/10 shadow-md hover:shadow-lg transition-all duration-300">
                    <div class="aspect-w-16 aspect-h-9">
                        <iframe
                            src="https://suntrans365.sharepoint.com/sites/IntranetSuntrans/_layouts/15/embed.aspx?UniqueId=673d095c-c5f7-43db-9fa0-8bb7ba68b176&nav=%7B%22playbackOptions%22%3A%7B%22startTimeInSeconds%22%3A0%7D%7D&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
                            width="640" height="360" frameborder="0" scrolling="no" allowfullscreen
                            title="2898387905Bem_vindo.mp4"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <app-footer></app-footer>
</div>